.number {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

p {
    color: white;
    padding-bottom: 5px;
    font-size: 2.5em;
    font-family: sans-serif;
    text-align: center;
}
.card {
    width: 30vw;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    padding: 58% 0;
    overflow: hidden;
    .card-front,
    .card-back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-image: url(../../assets/BackGroundIconDoingCard.svg);
        background-size: cover;
    }
    .card-back {
        z-index: 1;
        background-image: url(../../assets/BackGroundIconDoingCardBack.svg);
    }
}

// .default {}
.hidden,
.visible {
    .card {
        margin: 0;
        width: 100%;
        height: 100vw;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 100;
        background: #fff;
        .card-front,
        .card-back {
            background-size: contain;
        }
        .card-front {
            background-image: url(../../assets/CardPed.svg);
            .number {
                top: 50%;
                bottom: auto;
                p {
                    font-size: 7em;
                }
            }
        }
    }
}

.hidden {
    .card {
        .card-front {
            transform: rotateY(180deg);
            z-index: 1;
            opacity: 0;
        }
        .card-back {
            transform: rotateY(0deg);
            z-index: 10;
            opacity: 1;
        }
    }
}

.visible {
    .card {
        .card-front {
            transition: all 1s;
            transform: rotateY(0deg);
            z-index: 10;
            opacity: 1;
        }
        .card-back {
            transition: all 1s;
            transform: rotateY(180deg);
            z-index: 1;
            opacity: 0;
        }
    }
}
