<div (click)='clickCard()' class="{{selected}}">
    <div class="card">
        <div class="card-front">
            <div class="number">
                <p>{{number}}</p>
            </div>
        </div>
        <div class="card-back">
        </div>
    </div>
</div>