<button (click)='openRoom()' class="{{clicked}}"><p>Scegli una stanza</p>
<div class="onlybig">
  <p (click)='enterRoom()' *ngFor="let room of rooms.data">
      {{ room.attributes.title}}
  </p>
</div>
</button>

