.button_roomDefault{
  height: 6vh;
  width: 97%;
  background-color: #6A929B;
  border-radius: 10px;
  margin: 5px;
  p{
    color: white;
    font-size: 22px;
  }
  .onlybig{
    display: none;
  }
}
.button_roomHidden{
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 30;
  p{
    color: black;
    font-size: 40px;
    position: fixed;
    padding: 38px;
    top: 0;
  }
  .onlybig p{
    font-size: 30px;
    position: relative;
    padding: 10px;
  }
}
